body{
  background: url(http://www.all-sweets.com/gradient-wallpaper/gradient-background/gradient-background-3-1280x800.jpg);
  font-family: 'Helvetica';
  font-size: 16pt;
  margin: 2EM;
  background-color: #DDD;
  color: #333;
  text-align: center;
}

